@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*{
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  transition: all .2s linear;
  text-transform: capitalize;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}


/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #ffffff;
  background-image: url(images/back1.jpg);

}

/* Navigation Bar */
nav {
  background-color: #96749999;
  font-size: 18px; 
  padding: 5px 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px; 
}

nav a {
  text-decoration: none;
  color: rgb(75, 10, 61);
  font-weight: bold;
}

nav a:hover {
  color: whitesmoke;
  text-decoration: none;
}

/* Logo */
.logo {
  font-size: 36px;
  margin-left: 40px; 
  position: relative;
  left: -20px; 
}

.logo-img {
  width: 100px;
  height: auto;
  max-width: 100%;
}



.hero{
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 10px 30%;
  overflow: hidden;
  position: relative;
}
.home-content{
  margin-top: 250px;
  max-width: 600px;
}

.home-content h1{
  font-size: 60px;
  color: #693d5f;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 4px 4px #a88da5;
}

.home-content p{
  font-size: 25px;
  margin: 10px 0 30px;
  color: #48043f;
  text-align: center;
}

.feature1-img{
  width: 500px;
  position: absolute;
  bottom: 0;
  left: 0%;
  }

.feature2-img{
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0%;
  }

.anim{
  opacity: 0;
  transform: translateY(50px);
  animation:moveup 0.7s linear forwards;
}

.feature1-img.anim{
  animation-delay: 1s;
}
.feature2-img.anim{
  animation-delay: 1.5s;
}

@keyframes moveup{
  100%{
    opacity: 1;
    transform: translate(5px);
  }
}


/* Menu Button */
.menu {
  cursor: pointer;
  display: none;
}

.menu-line {
  height: 3px;
  width: 20px;
  background-color: #fff;
  margin-bottom: 3px;
}





/* Responsive Design */
@media all and (max-width: 640px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
    display: none;
  }

  nav li {
    margin: 10px 0;
  }

  .menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
  }
  .showmenu {
    display: flex;
    flex-direction: column;
  }

  
  .logo {
    align-self: flex-start;
    margin: 10px 0 0 30px;
  }

  .logo-img {
    width: 80px; 
  }
  
  .home-content h1{
    font-size: 40px;
  }
  
  .home-content p{
    font-size: 10px;
  }
  .feature1-img{
    width:150px;
  }
  
  .feature2-img{
    width: 150px;
   }
}


/* shopping section */

.shopping-container{
  max-width: 1200px;
  margin:0 auto;
  padding:3rem 2rem;
  margin-top: 50px;
}

.shopping-container .title{
  font-size: 3.5rem;
  color:#4b0a3d;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.shopping-container .products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:2rem;
}

.shopping-container .products-container .product{
  text-align: center;
  padding:3rem 2rem;
  background: #fff;
  box-shadow: 0 .5rem 1rem rgba(213, 125, 220, 0.5);
  cursor: pointer;
}

.shopping-container .products-container .product:hover{
  outline-offset: 0;
}

.shopping-container .products-container .product img{
  height: 25rem;
}

.shopping-container .products-container .product:hover img{
  transform: scale(.9);
}

.shopping-container .products-container .product h3{
  padding:.5rem 0;
  font-size: 2rem;
  color:#444;
}

.shopping-container .products-container .product:hover h3{
  color:#e6b8dd;
}

.shopping-container .products-container .product {
  font-size: 2rem;
  color:#444;
}


.fa-times{
  position: absolute;
  top:1rem; right:1.5rem;
  cursor: pointer;
  color:#444;
  font-size: 4rem;
}

.fa-times:hover{
  transform: rotate(90deg);
}

.stars{
  padding:1rem 0;
  font-size: 1.7rem;
}

.stars i{
  color:#482239;
}

.stars span{
  color:#999;
}

.buttons{
  display: flex;
  gap:1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.buttons a{
  flex:1 1 16rem;
  padding:1rem;
  font-size: 1.8rem;
  color:#4b0a3d;
}

.buttons a{
  background: #4b0a3d;
  color:#fff;
}



.buttons a.buy:hover{
  background: #4b0a3d;
  text-decoration: none;
  color:#fff;
}


@media (max-width:991px){

  html{
     font-size: 55%;
  }

}



@media (max-width:450px){

  html{
     font-size: 50%;
  }

}


/* calculator */

/* Style for the card */
.card {
  border-radius: 15px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Custom header with gradient */
.bg-custom-header {
  background-color:#4b0a3d ;
  color: white;
  border-radius: 15px;
  padding: 15px;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
} 


/* Styling for the heading */
h3 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

/* Labels for inputs */
label {
  font-size: 18px;
  color: #1a0d15; 
}

/* Input field styling */
.form-control {
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #4b0a3d;
  padding: 12px;
  background-color: #f7f7f7; 
  margin-bottom: 15px;
  width: 100%; 
  box-sizing: border-box;
}

/* Button styling */
.btn-primary {
  background-color: #4b0a3d;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(94, 47, 79, 0.1);
}

.btn-primary:hover {
  background-color: #4b0a3d;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
  
}

.btn-primary:focus, .btn-primary:active {
  background-color: #4b0a3d; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  outline: none; 
  border: none; 
  
} 

/* Result box */
.alert {
  font-size: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: #dbd9d9; 
  color: #4b0a3d;
  border: 1px solid #4b0a3d;
  border-radius: 10px;
}

/* Container for the calculator */
.calc-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(254, 189, 234, 0.9);
  position: relative; 
  z-index: 1;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .calc-container {
    max-width: 85%;
    margin: 20px auto; 
  }
}

@media (max-width: 576px) {
  .calc-container {
    max-width: 95%;
    margin: 10px auto;
    padding: 15px;
  }
}



/* stages */

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px;  
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 100px;
}


  .wrapper {
    width: 300px; 
    min-height: 400px;  
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .wrapper .card {
    position: absolute;
    min-height: 100%; 
    width: 100%;
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 20px 28px 16px rgba(92, 52, 82, 0.5);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  



.front-face .front-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #39192f;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}



.front-face {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper .card img {
  object-fit: cover;
  border-radius: 10px;
}

.wrapper:hover > .front-face {
  transform: rotateY(-180deg);
}

.wrapper:hover > .back-face {
  transform: rotateY(0deg);
}

.wrapper .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}

.wrapper .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: linear-gradient(375deg, #401b34, #f1b0e1);
}

.wrapper .back-face .info {
  text-align: center;
  font-size: 18px;
}


@media (max-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 280px;
    height: 350px;
  }
  .card-container {
    grid-template-columns: 1fr; 
  }
}

@media (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
}



/* recipe */

.page-body {
  font-family: 'Poppins', Arial, sans-serif;
  line-height: 1.8;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Main Content Styling */
.page-main {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url(images/back1.jpg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 15px;
  margin-top: 50px;
}



/* Recipe Image Styling */
.recipe-image img {
  border-radius: 15px;
  margin-bottom: 30px;
  width: 100%; 
  max-width: 350px; 
  height: auto;
  object-fit: cover;
}

/* Recipe Info Styling */
.recipe-info {
  padding: 20px;
}

.card-btn a{
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/* Responsive text in recipe titles */
.recipe-info h2 {
  font-size: calc(1.5rem + 1vw); /* Scales with viewport */
  color: #613354;
  margin-bottom: 15px;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bold;
}

/* Responsive text in list items */
.recipe-info ul, .recipe-info ol {
  margin: 20px 0;
  padding-left: 25px;
  list-style: circle;
  font-size: calc(1rem + 0.5vw); /* Adjust based on screen size */
}

.recipe-info li {
  margin-bottom: 10px;
}

/* Hover effect for list items */
.recipe-info li:hover {
  color: #523247;
  font-weight: bold;
  transition: 0.3s ease;
}



/* Responsive Design for larger screens */
@media (min-width: 768px) {
  .page-main {
      display: flex;
      padding: 40px;
  }

  .recipe-image {
      flex: 1;
      width: 10px;
  }

  .recipe-info {
      flex: 2;
  }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 767px) {
  

  .recipe-info h2 {
      font-size: 25px; /* Smaller titles on mobile */
  }

  .recipe-info ul, .recipe-info ol {
      font-size: 15px; 
  }
}


/* nutrition */

.section__container {
  max-width: 1200px;
  margin: auto;
  padding: 8rem 1rem;
}

.section__header {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Alfa Slab One", serif;
  color: #9c6793;
  text-align: center;
  line-height: 3.75rem;
  text-shadow: 2px 2px #000000;
  margin-top: 50px;
}

.section__description {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #212529;
  line-height: 1.75rem;
  margin-top: 50px;
  line-height: 1.5;
}

.card-btn {
  padding: 1rem 1.5rem;
  outline: none;
  border-radius: 10px;
  font-size: rem;
  color: white;
  background-color: #4f2945;
  transition: 0.3s;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.card-btn:hover {
  background-color: #6e5268;
}

.order__container h3 {
  max-width: fit-content;
  margin-inline: auto;
  padding: 1rem 1rem;
  font-size: 3.5rem;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  background-color: #6b3f5f;
  margin-bottom: 50px;
}

.order__container .section__header {
  margin-bottom: 1rem;
}

.order__container .section__description {
  margin-bottom: 2rem;
  text-align: center;
}

.order__grid {
  display: grid;
  gap: 2rem 1rem;
}

.order__card {
  padding: 4rem 1rem;
  border-radius: 1rem;
  text-align: center;
  transition: 0.3s;
}

.order__card {
  box-shadow: 5px 5px 30px #635059;
}

.order__card img {
  width: 250px;   /* Set the desired width */
  height: 250px;  /* Set the desired height */
  object-fit: cover;
  filter: drop-shadow(10px 10px 30px rgba(109, 60, 99, 0.3));
}

.order__card h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 2.5rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
  color: #5f3e58;
}

.order__card p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: 'Times New Roman', Times, serif;
  color: #212529;
  line-height: 1.5;
}



@media (width > 540px) {
  .order__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  
  .order__grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (width > 1024px) {
  .order__grid {
    gap: 2rem;
  }
}


/* exercise */

.yoga__img{
  text-align: center;
  margin-top: 50px;
}

@media all and (max-width: 450px) {
  .yoga__img{
   width: 150px;
  }
}



